.bg-navy {
  background-color: rgb(37, 50, 64);
}
.bg-green {
  background-color: rgb(184, 255, 241)
}
.schemHover:hover {
  background-color: rgb(133, 203, 247);
  cursor: pointer;
}

.noPointerClass{
  pointer-events: none;
}
