.close-button {
    width: 15px;
    height: 15px;
    box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #000;
    right: 2px;
    top: 2px;
    /*margin-top: -75px;
    margin-left: -75px;*/
    position: absolute;
    display: inline-block;
    z-index: 200;
    text-indent: -9999px;
  }
  .close-button:before,
  .close-button:after {
    content: '';
    width: 55%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 46%;
    left: 22%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .close-button:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  body {
    background: #a7cfdf;
    background: -moz-linear-gradient(45deg, #a7cfdf 0%, #23538a 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #a7cfdf), color-stop(100%, #23538a));
    background: -webkit-linear-gradient(45deg, #a7cfdf 0%, #23538a 100%);
    background: -o-linear-gradient(45deg, #a7cfdf 0%, #23538a 100%);
    background: -ms-linear-gradient(45deg, #a7cfdf 0%, #23538a 100%);
    background: linear-gradient(45deg, #a7cfdf 0%, #23538a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=1);
  }
  