
body {
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #333;
}

a {
	color: #555;
	text-decoration: none;
}

li {
	color: #555;
	text-decoration: none;
}


nav {

    font-weight: 700;
    font-family: 'Montserrat';
	background-color: #2C3E50;
    text-transform: uppercase;
	color: #fff;
	
    font-size: 1.25rem;
    line-height: 72px;
    white-space: nowrap;
}

section {
	background-color: #18BC9C;
    color: #fff;
    margin-bottom: 0;
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.wdk_container { 
    max-width: 1100px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.wdk_container:after, .wdk_container:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 35%;
    min-width: 50px;
    margin: 0 auto;
    margin-left: 2px;
    padding: 5px 5px;
	display: inline-block;
	color: #333;

    /* Styles */
    background: #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	z-index:500;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #ddd;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

table {
    text-align: left;
    margin:10px;
    border: 1px solid;
    border-color: #2C3E50;
    border-collapse: collapse;
    width:100%;
}

td, th {
    border: 1px solid;
    border-color: #2C3E50;
    border-collapse: collapse;
    padding:5px;
}
table button{
    height:100%;
    width:100%;
}
@media only screen and (max-width: 800px) {
	section {
		padding-left: 5px;
		padding-right: 5px;
    }
    .wdk_container {
		padding-left: 5px;
		padding-right: 5px;
    }
}