.copyright{
	font-size:0.9em;
	font-weight:400;
	color: #fff;
	text-align:center;
	line-height : 72px;
	vertical-align:middle;
}

#control_panel{
	height:120px;
	background-color:#2c3e50;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display:block;
}


.tab {
	height:20px;
	background-color:#2c3e50;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-width:2px;
	border-bottom-width: 0px;
	border-color: #ffffff;
	border-style: solid;
	display:inline-block;
	width:150px;
	margin-right:5px;
	text-align: center;
}

.tab:hover {
	background-color:#000000;
	border-color: #b3b0b0;
	cursor: pointer;
}

.brick_control{
	height:30px;
	margin:0px;
	width:33%;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	display:inline-block;
	position: relative;
}
.brick_button {
    color: #444444;
    background: #17af92;
    border: 1px #095243 solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

.brick_button:hover {
    border: 1px #073c31 solid;
    color: #333333;
	background: #1cb99b;
	box-shadow: inset 1px 1px 1px #3ce2c2;   
}

.brick_button:active {
	box-shadow: 1px 1px 1px #3ce2c2;
}

.hover_div {
	position: absolute;
}

.hover_div:hover {
	background-color:rgba(23, 175, 146,0.5);
}

#canvas_labels {
	position: absolute;
	top:0px;
	left:0px;
	height:200px;
	width:100px;
}

#control_panel label {
	display: inline-block;
	width:50%;
}

#control_panel input {
	display: inline-block;
	width:50%;
}

.selected {
	background-color: #108971;
}

.label {
	height:50px;
	width:100px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

#canvas_holder{
	position: relative;
	top:0px;
	left:0px;
	height:200px;
}
#main_canvas{
	position: absolute;
	top:0px;
	left:100px;
	/*border-top: 2px;
	border-bottom: 2px;
	border-left:0px;
	border-right:0px;
	border-radius: 0px;
	border-style: solid;
	border-color: #2c3e50;*/
	background-color: white;
	width: 800px;
	height: 100px;
}
#canvas_d_pos,#canvas_arrow{
	width: 50px;
	height: 50px;
}

.row_bar{
	position: absolute;
	left:100px;
	top:50px;
	height:4px;
	border-bottom: 2px;
	border-top: 0px;
	border-left:0px;
	border-right:0px;
	border-style: dashed;
	border-color: #2c3e50;
	width:800px;
	cursor: ns-resize;;
}

section{
	padding-left:10px;
}
